
body{
    margin : 0 ;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px ;
    text-align: center;
}

h1{
    font-size: 70px ;
    font-weight: bold;
    color: yellowgreen;
}

h3{
    margin-bottom: 2% ;
}

.form-1{
    margin: 4% 10% 0 10% ;  
    font-size: 1.8em;
}

.ipt
{
    margin: 50% 3% 10% 3% ;
}

.btn-submit
{
    width: 100px ;
    height: 30px ;
    border-radius: 20px;
    background-color: chartreuse ;
    font-size: initial ;
    padding : 0 0 2px 0 ;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
}


input[type="number"]
{
    border: 2px solid lightgreen ;
    border-radius: 20px ;
    height: 30px ;
    width: 12%;
    text-align: center;
    margin-bottom: 20px ;
}

.result{
    margin: 2% ;
    font-size: 2em;
    letter-spacing: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}