<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web_assets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>Iris Flower detection</title>
</head>
<body>
    <div>
        <h1>Iris Flower Detection </h1>
    </div>

    <div class="form-1">
        <h3>Enter the flower measurements</h3>
        <form action="" method="GET">
            <span class = "ipt">
                <label for="">
                    Sepal Length : <input type="Text" name="sLength"  placeholder="Sepal length" required>
                </label> 
            </span>

            <span class = "ipt">
                <label for="">
                    Sepal width : <input type="Text" name="sWidth" placeholder="Sepal width" required>
                </label> 
            </span>

            <br>

            <span class = "ipt">
                <label for="">
                    Petal Length : <input type="Text" name="pLength" placeholder="Petal Length"  required>
                </label> 
            </span>

            <span class = "ipt">
                <label for="">
                    Petal width : <input type="Text" name="pWidth" placeholder="Petal width"  required>
                </label>
            </span>   

            <br>         
            <button class="btn-submit">Submit</button>
        </form>
    </div>

</body>
</html>